.property-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.property-card {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  overflow: hidden;
	text-align: center;
}

.property-image img {
  width: 100%;
}

.view-property {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #181E28;
  color:  #fff !important;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}